{% extends 'main/base.html' %}

{% block title %}Password Change Done{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Password Change Successful</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Your password has been successfully changed.</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
